@page "/pages/store"
@using IdentityApp.Models;
@model IdentityApp.Pages.StoreModel;

<h4 class="bg-info text-white text-center p-2">Pages - Level 2 - Signed In Users</h4>

<div class="p-2">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </thead>
        <tbody>
            @foreach(Product product in Model.DbContext.Products.OrderBy(x => x.Id))
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td class="text-right">$@product.Price.ToString("F2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>